
@font-face{
	font-family: Open Sans Condensed;
	src:url('../fonts/OpenSansCondensed-Bold.ttf');
}
.letraSena{
	font-family: Open Sans Condensed;
}

h1{
	text-align: center;
	color: #00F;
	font-size: 46px;
	text-transform: uppercase;
}

.titulo{
	border-radius:  30px;
	background-color: #164347;
}
.imagen{
	width:200px;
	height: 200px;
	background-position: center;

}
.texto{
	color: #FFF;
	text-align: justify;
	font-size: 18;
	margin: 20px;
}
.capaIzquierda{
	width: 600px;
	position: fixed;
	margin-left: 40px;
	border-radius:  30px;
	background-color: #42f1f4;
}
.capaIzquierda:hover{
	background-color: #41f480;
}
.capaDerecha{
	width: 600px;
	position: absolute;
	margin-right: 40px;
	border-radius:  30px;
	background-color: #fda128;
	left: 700px;
}
.capaDerecha:hover{
	background-color: #f49441;
}